<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="../public/css/style.css" type="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1 class="signup">Newspaper Sign-Up</h1>
    <form method="post">
        <label class="inputsf" id="fname" for="firstName">First Name:</label>
        <input class="inputsf" name="firstName" type="text">
        <br>
        <label class="inputsl" id="lname" for="lastName">Last Name:</label>
        <input class="inputsl" name="lastName" type="text">
        <br>
        <label class="inputse" id="ename" for="email">Email:</label>
        <input class="inputse" name="email" type="email">
        <br>
        <input id="submitButton" type="submit" value="Submit">
        <br>
    </form>

</body>
</html>